<div class="projects-page view">
  <section class="font-family-secondary">
    <h4 class="inline">
      Works
    </h4>
    <span class="subscript">
      {length(@projects)}
    </span>
  </section>
  <section class="no-border">
    <ul class="record-list">
      <li :for={project <- @projects}>
        <.project_record project={project} />
      </li>
    </ul>
  </section>
</div>
