<div class="tag-page view">
  <section class="font-family-secondary">
    <h4 class="inline">
      #{@tag.name}
    </h4>
    <span class="subscript">
      {length(@tag.projects)}
    </span>
  </section>
  <section class="no-border">
    <ul class="record-list">
      <li :for={project <- @tag.projects}>
        <.project_record project={project} />
      </li>
    </ul>
  </section>
</div>
