<div class="contact-page view">
  <section>
    <h1 class="font-family-secondary">
      {gettext("Contact")}
    </h1>
    <div class="contact">
      <dl class="contact-info">
        <dt>
          {gettext("Email")}
        </dt>
        <dd>
          {@profile.email}
        </dd>
      </dl>
      <p>
        {gettext("Please reach out via email.")}
      </p>
    </div>
  </section>
</div>
