<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <meta name="author" content={@profile.name} />
    <meta name="keywords" content={Enum.join([@profile.title, @profile.name, "translator", "translation", "japan"], ",")} />
    <meta name="og:site_name" content={@profile.name} />
    <meta name="og:title" content={assigns[:page_title] || @profile.name} />
    <meta :for={meta <- assigns[:meta_tags] || []} {meta} />
    <link rel="icon" href="/favicon.ico" />
    <title>
      {assigns[:page_title] || @profile.name}
    </title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  {@inner_content}
</html>
